<div class="marble-preview">
  <div class="marble-preview-inner">
    {% if include.image_url %}
    <div class='marble-preview-image-container'>
      <img src='{{ include.image_url }}' alt='{{ include.title }}' class='marble-preview-image'>
    </div>
    {% endif %}

    <div class="marble-preview-content">
      <a href="{{ include.marble_link }}" class="marble-preview-title-link">
        <h3 class="marble-preview-title">{{ include.title }}</h3>
      </a>

      {% if include.subtitle %}
      <h4 class='marble-preview-subtitle'>{{ include.subtitle }}</h4>
      {% endif %}

      {% if include.date_created != "" %}
      <ul class='card-meta list-inline marble-preview-timestamp'>
        <li class='list-inline-item'>
          <i class='ti-calendar'></i> {{ include.date_created }}
        </li>
      </ul>
      {% endif %}

      <div class="marble-preview-text">
        <p>{{ include.excerpt }}</p>
      </div>

      <a href="{{ include.marble_link }}" class="marble-preview-link">Read more</a>
    </div>
  </div>
</div>